.content {
  width: 270px;
  height: auto;
  margin: 15px auto 0 auto;
  .title {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 23px;
  }
  .wrapContent {
    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .todo {
        text-align: center;
        input {
          margin-right: 10px;
        }
      }
      .toolBox {
        button:nth-child(2) {
          margin-left: 10px;
        }
      }
    }
  }
}
