.content {
  width: 270px;
  height: auto;
  margin: 15px auto 0 auto;
  .title {
    margin-bottom: 10px;
    font-weight: bold;
  }
  .wrapContent {
    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .toolBox {
      span:nth-child(2) {
        margin-left: 10px;
      }
    }
  }
}
