.wrapTaskInput {
  width: 240px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  input {
    padding: 3px 10px;
    outline: none;
    text-align: left;
  }
  button {
    margin-left: auto;
  }
}
