.wrapTaskInput {
  width: 220px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  input {
    padding: 3px 10px;
    outline: none;
    display: inline-block;
    margin-right: auto;
  }
  button {
    margin-left: auto;
  }
}
